@charset "UTF-8";

*{ margin: 0; padding: 0; border: 0; }

@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Handlee&display=swap');

:root {
    --fontedestaque: 'Freeman', sans-serif;
    --fontepadrao: 'dekko', cursive;
}

body {
    font-family: var(--fontepadrao);
    min-height: 100vh;
    font-weight: 600;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    font-size: 4vw;
    font-variant: small-caps;
    font-family: var(--fontedestaque);  
}

header > p > a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2.8vw;
    max-width: 600px;
}

.content > p {
    
    padding-top: 10vh;
    padding-left: 40px;
    font-size: 3.7vw;
    line-height: 2em;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 4px;    
}

#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
    color: white;
    padding: 50px;
    font-size: 3.7vw;
    line-height: 2em;
    text-align: justify;
    background-attachment: fixed; 
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.23); 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.433);
}

#img2 {
    background-image: url(imagens/background002.jpg);
    background-position: center right;
    background-size: cover;
    color: white;
    padding: 50px;
    font-size: 3.7vw;
    line-height: 2em;
    text-align: justify;  
    background-attachment: fixed;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.23);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.433);
}

#img2 > p {
    background-color: rgba(0, 0, 0, 0.392);
    max-width: 50vw;
    unicode-bidi: isolate;
}

#img1 > p {
    background-color: rgba(0, 0, 0, 0.392);
    max-width: 50vw;
    unicode-bidi: isolate;   
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

footer > p > a {
    color: lightseagreen;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}